body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

/* Header */
header {
    background: #0d6efd;
    color: white;
    padding: 30px;
    text-align: center;
}

/* Menú */
nav {
    background: #844298;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Contenedores */
.contenedor {
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

/* Productos */
.productos {
    display: grid;
    grid-template-columns: reparate(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.producto {
    background: #e9ecef;
    padding: 15px;
    border-raius: 8px;
    text-align: center;
}

.precio {
    color: #0d6efd;
    font-size: 18px;
    font-weight: bold;
}

/* Boton */
.boton {
    display: inline-block;
    background: #25d366;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 15px;
    font-weight: bold;
}

/* Footer */
footer {
    background: #212529;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

header h1 {
    font-size: 52px;	/* tamaño del título */
    letter-spacing: 20px;	/* espacio entre letras */
    margin-bottom: 10px;
}